@charset 'utf-8';

/* 나눔스퀘어 Neo */
@font-face {
  font-family: "NanumSquareNeo-Variable";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
/* 프리텐다드 */
@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

:root {
  color: #333;
  --font_NanumSquareNeo: "NanumSquareNeo-Variable";
  --font_Pretendard: "Pretendard-Regular";
  --font_size_H1_42pt: 42px;
  --font_size_H2_32pt: 32px;
  --font_size_H3_24pt: 24px;
  --font_size_H4_16pt: 16px;
  --font_size_b1_24pt: 16px;
  --font_size_b2_16pt: 16px;
  --color_main_01: #ea6001;
  --color_main_02: #de9417;
  --color_main_03: #f4faf6;
  --color_light_gray: #eaeaea;
  --color_dark_gray: #999999;
  --color_white: #ffffff;
  --speed_03: 0.3s;
  --speed_05: 0.5s;
}

.mw {
  width: calc(100% - 2rem);
  max-width: 1620px;
  margin: auto;
}

/* header start */

.hd_top {
  /* border: 1px solid gold; */
  display: flex;
  justify-content: center;
  position: relative;
  padding: 0.7rem 0;
}

.hd_top .hd_logo {
  /* border: 1px solid green; */
  width: 450px;
}

.hd_top .hd_logo img {
  width: auto;
  height: 100%;
}

.hd_top .m_top_logo {
  display: none;
}

.hd_top .lang {
  position: absolute;
  right: 0;
  bottom: 25%;
  z-index: 999;
}

.hd_top .lang button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: var(--font_size_H4_16pt);
  font-family: var(--font_NanumSquareNeo);
}

.hd_top .lang ul {
  display: none;
  position: absolute;
  left: auto;
  right: 0;
  background-color: var(--color_white);
  border: 1px solid var(--color_dark_gray);
  width: 150%;
}

.hd_top .lang ul.on {
  display: block;
}

.hd_top .lang li {
  width: 100%;
  display: flex;
  justify-content: center;
}

.hd_top .lang li:hover {
  background-color: var(--color_light_gray);
}

.hd_bottom {
  border: 1px solid var(--color_light_gray);
  border-left: none;
  border-right: none;
}

.hd_bottom .gnb {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.hd_bottom .gnb::after {
  content: "";
  position: absolute;
  bottom: -1px;
  width: 100%;
  height: 1px;
  background-color: var(--color_light_gray);
  z-index: 901;
}

.hd_bottom .gnb > li {
  /* border: 1px solid red; */
  position: relative;
  width: 100%;
  text-align: center;
}

.hd_bottom .gnb > li > a {
  display: block;
  padding: 0.5rem 0;
  font-size: var(--font_size_H4_16pt);
  font-family: var(--font_NanumSquareNeo);
}

.hd_bottom .gnb > li:hover > a {
  color: var(--color_main_02);
}

.hd_bottom .sub {
  position: absolute;
  z-index: 900;
  width: 100%;
  height: 0;
  overflow: hidden;
  transition: var(--speed_05);
  background-color: var(--color_white);
}

.hd_bottom .sub::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background-color: var(--color_light_gray);
}

.hd_bottom .gnb:hover .sub {
  height: 213px;
}

.hd_bottom .sub li {
  position: relative;
}

.hd_bottom .sub li::before {
  content: "";
  position: absolute;
  left: 0;
  width: 1px;
  height: 100vh;
  background-color: var(--color_light_gray);
}

.hd_bottom .gnb > li:last-of-type .sub::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 1px;
  height: 100%;
  background-color: var(--color_light_gray);
}

.hd_bottom .sub li a {
  /* border: 1px solid red; */
  display: block;
  padding: 0.3rem 0;
  transition: var(--speed_03);
  font-size: var(--font_size_H4_16pt);
  font-family: var(--font_NanumSquareNeo);
}

.hd_bottom .sub li:hover a {
  background-color: var(--color_main_02);
  color: white;
}

/* header end */
/* sec1 start */

.sec1 .main_banner .swiper-slide {
  padding-top: 26%;
  position: relative;
}

.sec1 .main_banner .swiper-slide img {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.sec1 .main_banner_pg {
  background-color: rgba(234, 234, 234, 0.7);
  border-radius: 999px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 10%;
  height: 7%;
  top: auto;
  left: auto;
  right: 30px;
  bottom: 20px;
}

.sec1 .main_banner_pg span {
  background-color: var(--color_main_01);
  width: 14px;
  height: 14px;
}

.sec1 .guide {
  display: flex;
  text-align: center;
  position: relative;
  border-top: 1px solid var(--color_light_gray);
  border-bottom: 1px solid var(--color_light_gray);
  padding: 1rem 0;
}

.sec1 .guide::after {
  content: "";
  width: 1px;
  height: 100%;
  position: absolute;
  bottom: 0;
  left: 50%;
  background-color: var(--color_light_gray);
}

.sec1 .guide strong {
  font-size: var(--font_size_H3_24pt);
  font-family: var(--font_NanumSquareNeo);
  position: relative;
  padding-bottom: 0.5rem;
}

.sec1 .guide span {
  font-size: var(--font_size_b2_16pt);
  font-family: var(--font_Pretendard);
}

.sec1 .guide a {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.sec1 .open {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}

.sec1 .open strong::after {
  content: "\f061";
  font: var(--fa-font-solid);
  font-size: 0.7em;
  color: var(--color_white);
  padding: 0.5rem;
  position: absolute;
  top: 50%;
  left: 100%;
  transform: translate(100%, -50%);
  border-radius: 999px;
  background-color: var(--color_main_01);
  transition: var(--speed_05);
}

.sec1 .open:hover strong::after {
  transform: translate(150%, -50%);
}

.sec1 .open p {
  position: relative;
}

.sec1 .open p::before {
  content: "";
  width: 1px;
  height: 60%;
  position: absolute;
  bottom: 0;
  left: 50%;
  background-color: var(--color_dark_gray);
  opacity: 0.7;
}

.sec1 .open span {
  display: inline-block;
  padding: 1rem 0.5rem 0;
}

.sec1 .reservation {
  flex: 1;
  position: relative;
}

.sec1 .reservation strong::after {
  content: "\f061";
  font: var(--fa-font-solid);
  font-size: 0.7em;
  color: var(--color_white);
  padding: 0.5rem;
  position: absolute;
  top: 50%;
  left: 100%;
  transform: translate(100%, -50%);
  border-radius: 999px;
  background-color: var(--color_main_01);
  transition: var(--speed_05);
}

.sec1 .reservation:hover strong::after {
  transform: translate(150%, -50%);
}

.sec1 .reservation p {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

/* sec1 end */
/* sec2 start */

.sec2 {
  margin-top: 5rem;
  margin-bottom: 5rem;
  display: flex;
  /* border: 1px solid green; */
  position: relative;
}

.sec2::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: calc(69% - 2rem);
  height: 1px;
  background-color: var(--color_light_gray);
}

.sec2 .tab_con {
  width: 69%;
  padding-right: 2rem;
  /* border: 3px solid green; */
}

.sec2 .side_banner {
  /* border: 3px solid gold; */
  width: 31%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: right;
}

.sec2 .side_banner div {
  /* border: 2px solid black; */
  width: 100%;
  padding-top: 65%;
  position: relative;
  overflow: hidden;
}

.sec2 .side_banner div:first-of-type {
  margin-bottom: 2rem;
}

.sec2 .side_banner img {
  width: 105%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.sec2 .tab_btns {
  /* border: 1px solid red; */
  display: flex;
}

.sec2 .tab_btns button {
  border: 1px solid var(--color_light_gray);
  border-bottom: none;
  background-color: var(--color_white);
  cursor: pointer;
  width: 20%;
  height: 4rem;
  border-radius: 10px 10px 0 0;
  position: relative;
  font-size: var(--font_size_H3_24pt);
  font-family: var(--font_NanumSquareNeo);
}

.sec2 .tab_btns button:first-of-type + button {
  z-index: 1;
  transform: translateX(-10%);
}

.sec2 .tab_btns button:last-of-type {
  z-index: 0;
  transform: translateX(-20%);
}

.sec2 .tab_btns button.on {
  z-index: 10;
  background-color: var(--color_main_02);
  color: var(--color_white);
}

.sec2 .tab_btns button:hover {
  background-color: var(--color_main_02);
  color: var(--color_white);
}

.sec2 .card_con > div {
  display: none;
}

.sec2 .card_con > div.on {
  display: block;
}

.sec2 .card_con > div {
  position: relative;
}

.sec2 .card_con > div > a {
  position: absolute;
  top: 0;
  right: 20px;
  transform: translateY(-110%);
  font-size: var(--font_size_H3_24pt);
  font-family: var(--font_NanumSquareNeo);
}

.sec2 .card_con article {
  border-top: 1px solid var(--color_light_gray);
}

/* 슬라이드 */
.sec2 .card_con > div li {
  border: 1px solid var(--color_light_gray);
  border-radius: 5px;
  margin-top: 2rem;
  overflow: hidden;
}

/* 3번째 슬라이드 오른쪽 border가 overflow 되는걸 막기 위한 padding */
.sec2 .card_con > div {
  padding-right: 1px;
}

/* 슬라이드 안의 이미지를 감싸는 div */
.sec2 .card_con > div li > div:first-of-type {
  /* border: 3px solid gray; */
  width: 100%;
  padding-top: 100%;
  position: relative;
}

/* 카드에 호버시 이미지 확대 효과를 위해 oveflow */
.sec2 .card_con > div li > div:first-child {
  overflow: hidden;
}

.sec2 .card_con > div li > div img {
  position: absolute;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: var(--speed_03);
}

.sec2 .card_con > div li:hover img {
  transform: translate(-50%, -50%) scale(1.05);
}

.sec2 .card_con .text {
  padding: 1rem;
}

.sec2 .card_con .text p:first-child {
  font-size: var(--font_size_H3_24pt);
  font-family: var(--font_NanumSquareNeo);
  padding-bottom: 0.5rem;
  display: -webkit-box;
  word-wrap: break-word;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 76px;
}

.sec2 .card_con .text p:last-child {
  /* border: 1px solid black; */
  font-size: var(--font_size_b2_16pt);
  font-family: var(--font_Pretendard);
  padding-bottom: 0.5rem;
  display: -webkit-box;
  word-wrap: break-word;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 100px;
}

.sec2 .card_con > div li > a {
  /* border: 1px solid red; */
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

/* sec2 end */
