@charset 'utf-8';

/* 나눔스퀘어 Neo */
@font-face {
  font-family: "NanumSquareNeo-Variable";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}
/* 프리텐다드 */
@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

:root {
  color: #333;
  --font_NanumSquareNeo: "NanumSquareNeo-Variable";
  --font_Pretendard: "Pretendard-Regular";
  --font_size_H1_42pt: 2.625rem;
  --font_size_H2_32pt: 2rem;
  --font_size_H3_24pt: 1.5rem;
  --font_size_H4_16pt: 1rem;
  --font_size_b1_24pt: 1.5rem;
  --font_size_b2_16pt: 1rem;
  --color_main_01: #ea6001;
  --color_main_02: #de9417;
  --color_main_03: #f4faf6;
  --color_light_gray: #eaeaea;
  --color_dark_gray: #999999;
  --color_white: #ffffff;
  --speed_03: 0.3s;
  --speed_05: 0.5s;
}

.mw {
  width: calc(100% - 2rem);
  max-width: 1620px;
  margin: auto;
}

main {
  overflow: hidden;
}

.scroll_lock {
  overflow-y: hidden;
}

/* 햄버거 버튼 모달--------------------------------------------------------------------- */
/* 메가메뉴 형식 */
.mega_bg {
  position: fixed;
  width: 150px;
  height: 150px;
  top: -100px;
  right: -100px;
  border-radius: 50%;
  background-image: linear-gradient(to bottom, var(--color_main_01), var(--color_main_02));
  pointer-events: none;
  transform: scale(0);
  transition: var(--speed_05);
  z-index: 999;
}

.mega_bg.on {
  transform: scale(30);
}

.ham_gnb {
  /* border: 1px solid red; */
  /* display: flex; */
  display: none;
  /* flex-direction: column; */
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 70%;
  transform: translate(-50%, -50%);
  z-index: 10000;
}

.ham_gnb.on {
  display: flex;
}

.ham_gnb > li {
  /* border: 1px solid green; */
  width: 100%;
  /* text-align: center; */
}

.ham_gnb > li > a {
  color: var(--color_main_03);
  width: 100%;
  /* border: 1px solid red; */
  font-size: var(--font_size_H3_24pt);
  font-family: var(--font_NanumSquareNeo);
  position: relative;
  padding-left: 1.5rem;
}

.ham_gnb > li > a::before {
  content: "";
  width: 10px;
  height: 10px;
  /* border-radius: 50%; */
  background-color: var(--color_white);
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

.ham_gnb > li:hover > a::before {
  background-color: var(--color_light_gray);
}

.ham_gnb .ham_sub {
  /* display: none; */
  display: flex;
  /* flex-direction: column; */
  flex-wrap: wrap;
  align-items: flex-start;
  /* border: 1px solid lavender; */
  word-break: keep-all;
  padding-bottom: 1rem;
}

.ham_gnb .ham_sub a {
  padding-right: 0.5rem;
  color: white;
  opacity: 0.5;
}

.ham_gnb .ham_sub a:hover {
  opacity: 1;
}

.ham_lang {
  position: absolute;
  left: 50%;
  bottom: 1%;
  transform: translateX(-50%);
  z-index: 10000;
  text-align: center;
  display: none;
}

.ham_lang.on {
  display: block;
}

.ham_lang button {
  background-color: transparent;
  border: 1px solid var(--color_white);
  border-radius: 5px;
  cursor: pointer;
  font-size: var(--font_size_H4_16pt);
  font-family: var(--font_NanumSquareNeo);
  color: var(--color_white);
}

.ham_lang ul {
  display: none;
  width: 100%;
  position: absolute;
  top: 0;
  transform: translateY(-100%);
  /* border: 1px solid red; */
}

.ham_lang ul.sl_toggle {
  display: block;
}

.ham_lang ul a {
  color: var(--color_white);
  font-size: var(--font_size_H4_16pt);
  font-family: var(--font_NanumSquareNeo);
  opacity: 0.5;
}

.ham_lang ul a:hover {
  opacity: 1;
}

/* 햄버거 버튼 모달 END------------------------------------------------------------------ */
/* 햄버거 버튼 -------------------------------------------------------------------------- */
.ham {
  border: 1px solid var(--color_dark_gray);
  border-radius: 5px;
  width: 30px;
  height: 30px;
  position: absolute;
  display: none;
  left: auto;
  right: 0;
  z-index: 9999;
}

.ham span {
  position: absolute;
  display: block;
  width: 80%;
  height: 4px;
  transform: translateX(10%);
  border-radius: 2px;
  background-color: var(--color_dark_gray);
  transition: var(--speed_05);
}

.ham.on {
  border: 1px solid var(--color_white);
}
.ham.on span {
  background-color: var(--color_white);
}

.ham span:nth-of-type(1) {
  top: 10%;
}

.ham span:nth-of-type(2) {
  top: 50%;
  transform: translateX(10%) translateY(-50%);
}

.ham span:nth-of-type(3) {
  bottom: 10%;
}

.ham.on span:nth-of-type(1) {
  top: 50%;
  transform: translateX(10%) translateY(-50%) rotate(45deg);
}

.ham.on span:nth-of-type(2) {
  opacity: 0;
}

.ham.on span:nth-of-type(3) {
  top: 50%;
  transform: translateX(10%) translateY(-50%) rotate(-45deg);
}
/* 햄버거 버튼 END------------------------------------------------------------------ */

/* header start */

.hd_top {
  /* border: 1px solid gold; */
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 0.7rem 0;
}

.hd_top .hd_logo {
  /* border: 1px solid green; */
  width: 450px;
}

.hd_top .hd_logo img {
  width: auto;
  height: 100%;
}

.hd_top .m_top_logo {
  display: none;
}

.hd_top .lang {
  position: absolute;
  right: 0;
  bottom: 25%;
  z-index: 999;
}

.hd_top .lang button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: var(--font_size_H4_16pt);
  font-family: var(--font_NanumSquareNeo);
}

.hd_top .lang ul {
  display: none;
  position: absolute;
  left: auto;
  right: 0;
  background-color: var(--color_white);
  border: 1px solid var(--color_dark_gray);
  width: 150%;
}

.hd_top .lang ul.on {
  display: block;
}

.hd_top .lang li {
  width: 100%;
  display: flex;
  justify-content: center;
}

.hd_top .lang li:hover {
  background-color: var(--color_light_gray);
}

.hd_top .lang li a {
  width: 100%;
  text-align: center;
  font-size: var(--font_size_H4_16pt);
  font-family: var(--font_NanumSquareNeo);
}

.hd_bottom {
  border: 1px solid var(--color_light_gray);
  border-left: none;
  border-right: none;
}

.hd_bottom .gnb {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.hd_bottom .gnb::after {
  content: "";
  position: absolute;
  bottom: -1px;
  width: 100%;
  height: 1px;
  background-color: var(--color_light_gray);
  z-index: 901;
}

.hd_bottom .gnb > li {
  /* border: 1px solid red; */
  position: relative;
  width: 100%;
  text-align: center;
}

.hd_bottom .gnb > li > a {
  display: block;
  padding: 0.5rem 0;
  font-size: var(--font_size_H4_16pt);
  font-family: var(--font_NanumSquareNeo);
}

.hd_bottom .gnb > li:hover > a {
  color: var(--color_main_02);
}

.hd_bottom .sub {
  position: absolute;
  z-index: 900;
  width: 100%;
  height: 0;
  overflow: hidden;
  transition: var(--speed_05);
  background-color: var(--color_white);
}

.hd_bottom .sub::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background-color: var(--color_light_gray);
}

.hd_bottom .gnb:hover .sub {
  height: 213px;
}

.hd_bottom .sub li {
  position: relative;
}

.hd_bottom .sub li::before {
  content: "";
  position: absolute;
  left: 0;
  width: 1px;
  height: 100vh;
  background-color: var(--color_light_gray);
}

.hd_bottom .gnb > li:last-of-type .sub::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 1px;
  height: 100%;
  background-color: var(--color_light_gray);
}

.hd_bottom .sub li a {
  /* border: 1px solid red; */
  display: block;
  padding: 0.3rem 0;
  transition: var(--speed_03);
  font-size: var(--font_size_H4_16pt);
  font-family: var(--font_NanumSquareNeo);
}

.hd_bottom .sub li:hover a {
  background-color: var(--color_main_02);
  color: white;
}

/* header end */
/* sec1 start */

.sec1 .main_banner .swiper-slide {
  padding-top: 26%;
  position: relative;
}

.sec1 .main_banner .swiper-slide img {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.sec1 .main_banner_pg {
  background-color: rgba(234, 234, 234, 0.7);
  border-radius: 999px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 10%;
  height: 7%;
  top: auto;
  left: auto;
  right: 2%;
  bottom: 5%;
}

.sec1 .main_banner_pg span {
  background-color: var(--color_main_01);
  width: 9%;
  height: 50%;
}

.sec1 .guide {
  display: flex;
  text-align: center;
  position: relative;
  border-top: 1px solid var(--color_light_gray);
  border-bottom: 1px solid var(--color_light_gray);
  padding: 1rem 0;
}

.sec1 .guide::after {
  content: "";
  width: 1px;
  height: 100%;
  position: absolute;
  bottom: 0;
  left: 50%;
  background-color: var(--color_light_gray);
}

.sec1 .guide strong {
  font-size: var(--font_size_H3_24pt);
  font-family: var(--font_NanumSquareNeo);
  position: relative;
  padding-bottom: 0.5rem;
}

.sec1 .guide span {
  font-size: var(--font_size_b2_16pt);
  font-family: var(--font_Pretendard);
}

.sec1 .guide a {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.sec1 .open {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}

.sec1 .open strong::after {
  content: "\f061";
  font: var(--fa-font-solid);
  font-size: 0.7em;
  color: var(--color_white);
  padding: 0.5rem;
  position: absolute;
  top: 50%;
  right: -5%;
  transform: translate(100%, -60%);
  border-radius: 999px;
  background-color: var(--color_main_01);
  transition: var(--speed_05);
}

.sec1 .open:hover strong::after {
  transform: translate(150%, -60%);
}

.sec1 .open p {
  position: relative;
}

.sec1 .open p::before {
  content: "";
  width: 1px;
  height: 60%;
  position: absolute;
  bottom: 0;
  left: 50%;
  background-color: var(--color_dark_gray);
  opacity: 0.7;
}

.sec1 .open span {
  display: inline-block;
  padding: 1rem 0.5rem 0;
}

.sec1 .reservation {
  flex: 1;
  position: relative;
}

.sec1 .reservation strong::after {
  content: "\f061";
  font: var(--fa-font-solid);
  font-size: 0.7em;
  color: var(--color_white);
  padding: 0.5rem;
  position: absolute;
  top: 50%;
  right: -5%;
  transform: translate(100%, -60%);
  border-radius: 999px;
  background-color: var(--color_main_01);
  transition: var(--speed_05);
}

.sec1 .reservation:hover strong::after {
  transform: translate(150%, -60%);
}

.sec1 .reservation p {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.sec1 .reservation span {
  padding: 0 0.5rem;
}

/* sec1 end */
/* sec2 start */

.sec2 {
  margin-top: 5%;
  margin-bottom: 2.5rem;
  display: flex;
  /* border: 1px solid green; */
  position: relative;
}

.sec2::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: calc(69% - 2rem);
  height: 1px;
  background-color: var(--color_light_gray);
}

.sec2 .tab_con {
  width: 69%;
  padding-right: 2rem;
  /* border: 3px solid green; */
}

.sec2 .side_banner {
  /* border: 3px solid gold; */
  width: 31%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: right;
}

.sec2 .side_banner div {
  /* border: 2px solid black; */
  width: 100%;
  padding-top: 65%;
  position: relative;
  overflow: hidden;
}

.sec2 .side_banner div:first-of-type {
  margin-bottom: 2rem;
}

.sec2 .side_banner img {
  width: 105%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.sec2 .tab_btns {
  /* border: 1px solid red; */
  display: flex;
}

.sec2 .tab_btns button {
  border: 1px solid var(--color_light_gray);
  border-bottom: none;
  background-color: var(--color_white);
  cursor: pointer;
  width: 20%;
  height: 4rem;
  border-radius: 10px 10px 0 0;
  position: relative;
  font-size: var(--font_size_H3_24pt);
  font-family: var(--font_NanumSquareNeo);
}

.sec2 .tab_btns button:first-of-type + button {
  z-index: 1;
  transform: translateX(-10%);
}

.sec2 .tab_btns button:last-of-type {
  z-index: 0;
  transform: translateX(-20%);
}

.sec2 .tab_btns button.on {
  z-index: 10;
  background-color: var(--color_main_02);
  color: var(--color_white);
}

.sec2 .tab_btns button:hover {
  background-color: var(--color_main_02);
  color: var(--color_white);
}

.sec2 .card_con > div {
  display: none;
}

.sec2 .card_con > div.on {
  display: block;
}

.sec2 .card_con > div {
  position: relative;
}

.sec2 .card_con > div > a {
  position: absolute;
  top: 0;
  right: 20px;
  transform: translateY(-110%);
  font-size: var(--font_size_H3_24pt);
  font-family: var(--font_NanumSquareNeo);
  transition: var(--speed_05);
}

.sec2 .card_con > div > a:hover {
  transform: translateY(-110%) translateX(10%);
}

.sec2 .card_con article {
  border-top: 1px solid var(--color_light_gray);
}

/* 슬라이드 */
.sec2 .card_con > div li {
  border: 1px solid var(--color_light_gray);
  border-radius: 5px;
  margin-top: 2rem;
  overflow: hidden;
}

/* 3번째 슬라이드 오른쪽 border가 overflow 되는걸 막기 위한 padding */
.sec2 .card_con > div {
  padding-right: 1px;
}

/* 슬라이드 안의 이미지를 감싸는 div */
.sec2 .card_con > div li > div:first-of-type {
  /* border: 3px solid gray; */
  width: 100%;
  padding-top: 100%;
  position: relative;
  overflow: hidden;
}

.sec2 .card_con > div li > div img {
  position: absolute;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: var(--speed_03);
}

.sec2 .card_con > div li:hover img {
  transform: translate(-50%, -50%) scale(1.05);
}

.sec2 .card_con .text {
  /* border: 1px solid red; */
  padding: 1rem;
}

.sec2 .card_con .text p:first-child {
  /* border: 1px solid green; */
  font-size: var(--font_size_H3_24pt);
  font-family: var(--font_NanumSquareNeo);
  display: -webkit-box;
  word-wrap: break-word;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 76px;
}

.sec2 .card_con .text p:last-child {
  /* border: 1px solid black; */
  font-size: var(--font_size_b2_16pt);
  font-family: var(--font_Pretendard);
  padding: 0.5rem 0;
  display: -webkit-box;
  word-wrap: break-word;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 108px;
}

.sec2 .card_con > div li > a {
  /* border: 1px solid red; */
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.sec2 .card_con > div > article > div::after {
  color: var(--color_main_01);
}

/* sec2 end */
/* sec3 start */

.sec3 {
  background-color: var(--color_main_03);
  padding: 2.5rem 0;
}

.sec3 article {
  display: flex;
  justify-content: space-between;
}

.sec3 article div {
  border: 1px solid var(--color_light_gray);
  flex: 1;
  position: relative;
  padding-top: 22%;
  overflow: hidden;
}

.sec3 article div:first-of-type {
  margin-right: 3rem;
}

.sec3 article div img {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.8;
  transition: var(--speed_05);
}
/* 미술상 배너 마우스 호버시 줄 효과 고민해볼 것. opacity는 너무 흐릿해서 별로일것 같음 */
.sec3 article div:hover img {
  opacity: 1;
}

/* sec3 end */
/* sec4 start */

.sec4 {
  margin-top: 5%;
  margin-bottom: 5rem;
  text-align: center;
}

.sec4 .video_desc h2 {
  font-size: var(--font_size_H1_42pt);
  font-family: var(--font_NanumSquareNeo);
  color: var(--color_main_02);
  margin-bottom: 1rem;
  position: relative;
}

.sec4 .video_desc h2::before,
.sec4 .video_desc h2::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 40%;
  height: 1px;
  background-color: var(--color_dark_gray);
}

.sec4 .video_desc h2::before {
  left: 0;
}

.sec4 .video_desc h2::after {
  right: 0;
}

.sec4 .video_desc strong {
  font-size: var(--font_size_b1_24pt);
  font-family: var(--font_Pretendard);
}

.sec4 .video_wrap {
  position: relative;
}

.sec4 .digital_museum_slide {
  width: 80%;
}

.sec4 .digital_museum_slide li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sec4 .digital_museum_slide li p {
  font-size: var(--font_size_b1_24pt);
  font-family: var(--font_Pretendard);
  color: black;
  opacity: 0;
  padding-bottom: 2rem;
  transition: opacity var(--speed_05);
  transition-delay: opacity var(--speed_03);
}

.sec4 .digital_museum_slide li.swiper-slide-active p {
  opacity: 1;
}

.sec4 .digital_museum_slide video {
  width: 80%;
}

.sec4 .digital_museum_next,
.sec4 .digital_museum_prev {
  position: absolute;
  top: 57%;
  bottom: auto;
  transform: translateY(-50%);
  color: var(--color_main_01);
}

.sec4 .digital_museum_next {
  left: auto;
  right: 0;
}

.sec4 .digital_museum_prev {
  right: auto;
  left: 0;
}

.sec4 > a {
  margin-top: 3rem;
  display: inline-block;
  padding: 0.5rem 3rem;
  font-size: var(--font_size_H3_24pt);
  font-family: var(--font_NanumSquareNeo);
  color: var(--color_white);
  background-color: var(--color_main_02);
  border: 1px solid var(--color_light_gray);
  border-radius: 999px;
  transition: var(--speed_03);
}

.sec4 > a:hover {
  background-color: var(--color_main_01);
}

/* sec4 end */
/* sec5 start */

.sec5 {
  text-align: center;
}

.sec5 h2 {
  font-size: var(--font_size_H1_42pt);
  font-family: var(--font_NanumSquareNeo);
  color: var(--color_main_02);
  /* margin-bottom: 2rem; */
  position: relative;
}

.sec5 h2::before,
.sec5 h2::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 40%;
  height: 1px;
  background-color: var(--color_dark_gray);
}

.sec5 h2::before {
  left: 0;
}

.sec5 h2::after {
  right: 0;
}

.sec5 > div {
  /* border: 1px solid red; */
  position: relative;
  padding-top: 30%;
  top: 0;
  left: 0;
  overflow: hidden;
  margin-bottom: 1rem;
}

.sec5 .collection {
  display: flex;
  width: 350%;
  position: absolute;
  top: 0;
  left: 0;
  animation: collect 90s linear infinite;
}

.sec5 .collection:hover {
  animation-play-state: paused;
}

.sec5 .collection li {
  /* border: 3px solid red; */
  padding: 2rem 0 5rem;
}

.sec5 .collection li img {
  width: 100%;
  /* border: 1px solid var(--color_dark_gray); */
  transition: var(--speed_05);
  padding: 0 1rem;
}

.sec5 .collection li img:hover {
  transform: scale(1.05);
}

/* 소장품 애니메이션 */
@keyframes collect {
  0% {
    left: 0;
  }
  40% {
    left: -250%;
  }
  50% {
    left: -250%;
  }
  90% {
    left: 0;
  }
  100% {
    left: 0;
  }
}

.sec5 > a {
  display: inline-block;
  padding: 0.5rem 3rem;
  font-size: var(--font_size_H3_24pt);
  font-family: var(--font_NanumSquareNeo);
  color: var(--color_white);
  background-color: var(--color_main_02);
  border: 1px solid var(--color_light_gray);
  border-radius: 999px;
  transition: var(--speed_03);
}

.sec5 > a:hover {
  background-color: var(--color_main_01);
}

/* sec5 end */
/* footer start */

footer {
  border: 1px solid var(--color_light_gray);
  border-left: none;
  border-right: none;
  margin-top: 3rem;
  padding: 1rem 0;
  font-size: var(--font_size_b2_16pt);
  font-family: var(--font_Pretendard);
}

.footer_wrap {
  /* border: 1px solid red; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  word-break: keep-all;
}

.footer_left {
  display: flex;
}

.footer_left > * {
  padding: 0 1rem;
  position: relative;
}

.footer_left > a::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  width: 1px;
  height: 80%;
  background-color: var(--color_dark_gray);
}

.footer_left address {
  display: flex;
  padding: 0 0 0 1rem;
}

.footer_left address span {
  padding-right: 2rem;
  position: relative;
}

.footer_left address span:last-of-type {
  padding-right: 0;
}

.footer_left address span::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 1rem;
  transform: translateY(-50%);
  width: 1px;
  height: 80%;
  background-color: var(--color_dark_gray);
}

.footer_left address span:last-of-type:after {
  display: none;
}

.footer_left address p::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  width: 1px;
  height: 80%;
  background-color: var(--color_dark_gray);
}

.sns_icon p {
  /* border: 1px solid red; */
  line-height: 1rem;
  display: inline-block;
  font-size: 2rem;
  margin-left: 2rem;
}

.footer_wrap .sns_icon p:first-of-type {
  margin-left: 0;
}

/* footer end */

/* @media */

@media (max-width: 1500px) {
  .sec4 .video_desc h2::before,
  .sec4 .video_desc h2::after,
  .sec5 h2::before,
  .sec5 h2::after {
    width: 35%;
  }
}

@media (max-width: 1335px) {
  footer {
    font-size: 0.8rem;
  }

  .sns_icon p {
    font-size: 1.5rem;
    margin-left: 0.5rem;
  }
}

@media (max-width: 1150px) {
  .hd_bottom .gnb a {
    font-size: 0.7em !important;
  }

  .sec1 .guide strong {
    font-size: 1.25rem;
  }

  .sec1 .guide span {
    font-size: 0.8rem;
  }

  .sec2 {
    flex-direction: column;
  }

  .sec2::after {
    display: none;
  }

  .sec2 > article {
    /* border: 1px solid red; */
    flex-wrap: wrap;
    width: 100% !important;
  }

  .sec2 .tab_con {
    padding-right: 0;
  }

  .sec2 .side_banner {
    flex-direction: row;
    padding-top: 2rem;
  }

  .sec2 .side_banner > div {
    flex: 1;
    padding-top: calc(100% / 3);
  }

  .sec2 .side_banner div:first-of-type {
    margin-bottom: 0;
    margin-right: 2rem;
  }
}

@media (max-width: 1070px) {
  /* 푸터 주소,전화,팩스를 display block으로 만들어서 wrap 처리하면 될 듯 */
  /* 아니면 adress 자체를 block으로 해서 밑으로 내리던가 */
}

@media (max-width: 935px) {
  .sec1 .guide strong {
    padding-bottom: 0.25rem;
  }

  .sec1 .guide .open p {
    display: flex;
    flex-direction: column;
  }

  .sec1 .open p::before {
    display: none;
  }

  .sec1 .open span {
    display: inline-block;
    padding: 0.25rem 0 0;
  }

  .sec4 .video_desc h2::before,
  .sec4 .video_desc h2::after,
  .sec5 h2::before,
  .sec5 h2::after {
    width: 28%;
  }

  .sec4 .video_desc strong {
    font-size: var(--font_size_b2_16pt);
  }

  .sec4 .digital_museum_slide li p {
    font-size: var(--font_size_b2_16pt);
  }

  .footer_wrap {
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .footer_left {
    margin-bottom: 0.5rem;
  }
}

@media (max-width: 700px) {
  .hd_top .hd_logo {
    width: 200px;
  }

  .hd_top .top_logo {
    display: none;
  }

  .hd_top .m_top_logo {
    display: block;
  }

  .hd_top .lang,
  .hd_bottom .gnb {
    display: none;
  }

  .ham {
    display: block;
  }

  .hd_top .hd_ham {
    display: block;
  }

  .sec1 .guide {
    flex-direction: column;
  }

  .sec1 .guide::after {
    content: "";
    width: 100%;
    height: 1px;
    top: 50%;
    bottom: auto;
    left: 0;
    right: auto;
    background-color: var(--color_light_gray);
  }

  .sec1 .open {
    padding-bottom: 2rem;
  }

  .sec2 .tab_btns button {
    font-size: 1rem;
    height: 2.5rem;
  }

  .sec2 .card_con > div > a {
    font-size: 1rem;
  }

  .sec2 .card_con > div > article > div::after {
    font-size: 2rem;
  }

  .sec3 article {
    flex-direction: column;
  }

  .sec3 article > div {
    width: 100%;
    padding-top: 44%;
  }

  .sec4 .video_desc h2,
  .sec5 h2 {
    font-size: var(--font_size_H2_32pt);
  }

  .sec4 .digital_museum_slide video {
    width: 100%;
  }

  .sec4 .digital_museum_next,
  .sec4 .digital_museum_prev {
    top: 70%;
  }

  .sec4 .digital_museum_next::after,
  .sec4 .digital_museum_prev::after {
    font-size: 2rem;
  }
}

@media (max-width: 500px) {
  .sec2 .tab_btns button {
    font-size: 0.8rem;
    height: 2rem;
  }

  .sec2 .card_con > div > a {
    font-size: 0.8rem;
  }

  .sec2 .card_con > div li {
    margin-top: 0;
  }

  .sec2 .card_con article {
    border-top: none;
  }

  .sec2 .card_con > div li > div:first-of-type {
    /* border: 3px solid gray; */
    display: none;
  }

  .sec2 .side_banner {
    flex-direction: column;
    padding-top: 2rem;
  }
  .sec2 .side_banner > div {
    flex: 1;
    padding-top: 65%;
  }

  .sec2 .side_banner div:first-of-type {
    margin-right: 0;
  }

  .sec2 .card_con .text {
    padding: 3.5rem;
  }

  .sec4 .video_desc h2,
  .sec5 h2 {
    font-size: var(--font_size_H3_24pt);
  }

  .sec4 .video_desc h2::before,
  .sec4 .video_desc h2::after,
  .sec5 h2::before,
  .sec5 h2::after {
    width: 25%;
  }

  .sec4 .video_desc strong {
    font-size: 0.8rem;
  }

  .sec4 .digital_museum_slide li p {
    font-size: 0.8rem;
  }

  .sec4 > a {
    margin-top: 2rem;
    padding: 0.3rem 2rem;
    font-size: var(--font_size_H4_16pt);
  }
}
